<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head id="header">
        <title>iRO Suit</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <meta name="author" content="http://www.facebook.com/jose.bonifacio.5"></meta>
        <h:outputStylesheet library="font-awesome" name="css/font-awesome.min.css"></h:outputStylesheet>
        <h:outputScript library="javascript" name="jquery-2.2.0.min.js"></h:outputScript>
        <h:outputScript library="javascript" name="jquery-ui.min.js"></h:outputScript>
        <f:facet name="no-fa">true</f:facet>
    </h:head>
    <h:body>
        <h:form>
            <h:dataTable value="#{indexController.test}" var="test">
                <h:column>
                    <h:outputText value="#{test.name}"/>
                </h:column>
                <h:column>
                    <h:outputText value="#{test.value}"/>
                </h:column>
            </h:dataTable>
        </h:form>
    </h:body>
</html>