.sub-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.navbar-fixed-top {
    border: 0 none;
}
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
        bottom: 0;
        display: block;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 20px;
        position: fixed;
        top: 26px;
        z-index: 1000;
    }
}
.nav-list {
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -21px;
}
.nav-list > li > a {
    padding-left: 20px;
    padding-right: 20px;
}
.nav-list > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    background-color: #d9d9d9;
}
.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-left: 40px;
        padding-right: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    border-radius: 50%;
    display: inline-block;
}

#formNavBar .icon-bar {
    display:none;
}

#formNavBar .navbar-toggle {
    display: none;
}

#formNavBar .navbar-brand {
    float: right;
    margin-right: 14px;
}

.workArea {
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.workArea table {
    width: 100%;
}

.work-area-buttons button {
    margin-top: 10px;
    width: 100%;
}

hr {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.text-align-center {
    width: 100%;
    text-align: center;
}

.content {
    padding-top: 20px;
}

.context-title {
    font-size:  34px;
}

.label-error {    
    font-size: 12px;
    color: #F04124;
}

.input-group {
    margin-top: 4px;
    margin-bottom: 2px;
}

.form-error .input-group {
    width: 100%;
    margin-bottom: 4px;
}

.nav-list i {
    padding-right: 10px;
}

.navbar-nav i {
    padding-right: 10px;
}

.input-group .form-group {
    margin-bottom: 0px;
}

.input-group .form-group .input-group{
    margin: 0px;
}

.form-signup {
    margin: 0 auto;
    max-width: 330px;
    width: 100%;
}

.nav-list li.active {
    border-top: 0px;
    border-left: 10px;
    border-style: solid;
    font-weight: bold;
    border-color: #008cba;
    border-bottom: 0px;
}

.slider .ui-widget {
    margin-top: 10px !important;   
}

.row .slider {
    margin-top: 4px !important;
}

.nav-tabs li a {
    width: 100% !important;
}

.font-red {
    color: red;
}

.font-green {
    color: green;
}

.font-cyan {
    color: #66b2ff;
}

#toast-container > .toast-success {
    width: 120px !important;
}

.modal-header h4 {
    margin-bottom: -20px !important;
}
